
.pagetitle {
	color: steelblue;
	font-family: 'Alice', serif;
	font-size: 30px;
}

.pagesubtitle {
	color: black;
	font-family: 'Alice', serif;
	font-size: 15x;
	font-weight: bold;
}

.pagetext {
	
}

.pagebutton {
	background-color: steelblue;
	color: white;
	font-family: 'Arial';
	font-size: 15px;
	padding: 8px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
svg .street {
	stroke: white;
	stroke-width: 1px;
	fill: none;
}

svg .mapLabel {
	font-family: "Times New Roman", Times, serif;
	fill: yellow;
}

svg .pump {
	fill: #69f5a8;
	stroke: none;
}

svg .death {
	stroke: none;
	r: 2;
}

svg .graphline {
	fill: none;
	stroke-width: 1px;
}

svg .deathhoverbar:hover {
	fill-opacity: 1;
}

svg .graphbutton {
	rx: 5;
	ry: 5;
	stroke: none;
}

svg .graphbuttonlabel {
	font-family: 'Arial';
	font-size: 15px;
}

.axis path,
.axis line {
	fill: none;
	stroke: gray;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 10px;
	fill: gray;
}


/* for Tooltip */

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
  }
  
  div.tooltip {
	position: absolute;
	text-align: center;
	width: 60px;
	height: 28px;
	padding: 2px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
  }


  h1.ml8 {
	font-weight: 900;
	font-size: 4.5em;
	color: #fff;
	width: 3em;
	height: 3em;
  }
  
  .ml8 .letters-container {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 0;
	bottom: 0;
	height: 1em;
  }
  
  .ml8 .letters {
	position: relative;
	z-index: 2;
	display: inline-block;
	line-height: 0.7em;
	right: -0.12em;
	top: -0.2em;
  }
  
  .ml8 .bang {
	font-size: 1.4em;
	top: auto;
	left: -0.06em;
  }
  
  .ml8 .circle {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 0;
	bottom: 0;
  }
  
  .ml8 .circle-white {
	width: 3em;
	height: 3em;
	border: 2px dashed white;
	border-radius: 2em;
  }
  
  .ml8 .circle-dark {
	width: 2.2em;
	height: 2.2em;
	background-color: #4f7b86;
	border-radius: 3em;
	z-index: 1;
  }
  
  .ml8 .circle-dark-dashed {
	border-radius: 2.4em;
	background-color: transparent;
	border: 2px dashed #4f7b86;
	width: 2.3em;
	height: 2.3em;
  }

  .center {
      
	margin: 0 auto;
	
  }

  .awesome {
	
	font-family: futura;
	font-style: italic;
	
	width:100%;
	
	margin: 0 auto;
	text-align: center;
	
	color:#313131;
	font-size:45px;
	font-weight: bold;
	position: absolute;
	-webkit-animation:colorchange 20s infinite alternate;
	
	
  }

  @-webkit-keyframes colorchange {
	0% {
	  
	  color: blue;
	}
	
	10% {
	  
	  color: #8e44ad;
	}
	
	20% {
	  
	  color: #1abc9c;
	}
	
	30% {
	  
	  color: #d35400;
	}
	
	40% {
	  
	  color: blue;
	}
	
	50% {
	  
	  color: #34495e;
	}
	
	60% {
	  
	  color: blue;
	}
	
	70% {
	  
	  color: #2980b9;
	}
	80% {
   
	  color: #f1c40f;
	}
	
	90% {
   
	  color: #2980b9;
	}
	
	100% {
	  
	  color: pink;
	}
  }
